@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oswald&family=The+Nautigal:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lora;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 2rem;
  padding: 2rem;
  background-color: white;
  display: inline-block;
}
body {
  background-image: url(./img/cuero.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.productos_destacados {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
}
.productos_nuevos {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
}
.tipos_cuchillos {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
}
.tipos_cuchillos img {
  max-width: 500px;
  padding: 2rem;
}
.productos_destacados img {
  max-width: 500px;
  padding: 2rem;
}
.productos_nuevos img {
  max-width: 500px;
  padding: 2rem;
}

.destacado1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.destacada {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 60%;
}

li {
  display: inline-block;
}

footer {
  background-color: azure;
}

.logo {
  padding: 4rem;
  background-color: aliceblue;
  display: block;
  width: 15%;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  background-color: rgba(90, 57, 7, 0.514);
  flex-wrap: wrap;
}

.navbar li {
  padding: 3rem;
}
.navbar li:hover {
  border-bottom: 1px solid;
  background: #6b3e03b0;
}

.cart1 {
  display: flex;
  justify-content: end;
}
.cart {
  width: 30%;
  background-color: rgb(196, 133, 39, 0.1);
}

.productos_descuento {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
}
.productos_descuento img {
  max-width: 500px;
  padding: 2rem;
}

@media (max-width: 992px) {
  .productos_descuento {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    align-items: center;
    justify-content: center;
  }
  .productos_destacados {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    align-items: center;
    justify-content: center;
  }
}

.pagination {
  background-color: rgba(211, 134, 10, 0.1);
  padding-left: 50%;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
